/* All styling for Exchange Rate Calculator App */
html {
  position: relative;
  min-height: 100%;
  text-align: center;
}

body {
  margin: 20px;
  font-family: Helvetica;
}

header {
  margin: 50px 20px;
}

input {
  margin-right: 10px;
}

select {
  margin-right: 10px;
  cursor: pointer;
}

form button {
  display: block;
  margin: 30px auto;
  height: 50px;
  width: 100px;
  font-size: 18px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#results {
  margin: 30px auto;
  border: 2px solid black;
  width: 25%;
}

#exchdata table {
  margin: 30px auto;
  padding: 10px;
  border: 2px solid black;
  width: 50%;
}

footer {
  margin: 50px 20px;
  display: block;
}
